{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Cocktail</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the course">

					<label for="description">Ingredients:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="ingredients" placeholder="Ingredients"></textarea>

					<label for="picture">Picture:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control"
						maxlength="250" name="picture" placeholder="URL of picture">
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
					<a href = '{{url_for('showAlcohols')}}'>
					<button type="button" class="btn btn-default delete">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
				</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

